@page
@model AssistWith.Pages.ClientPage.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2> 
<partial name="_ClientForm" model="Model.ClientPage" />
