@page "{id:int}"
@model AssistWith.Pages.Profiles.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profile.ProfileId" />
            <div class="form-group">
                <label asp-for="Profile.PROCODE" class="control-label"></label>
                <input asp-for="Profile.PROCODE" class="form-control" />
                <span asp-validation-for="Profile.PROCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.ProfileUrl" class="control-label"></label>
                <input asp-for="Profile.ProfileUrl" class="form-control" />
                <span asp-validation-for="Profile.ProfileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Username" class="control-label"></label>
                <input asp-for="Profile.Username" class="form-control" />
                <span asp-validation-for="Profile.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Password" class="control-label"></label>
                <input asp-for="Profile.Password" class="form-control" />
                <span asp-validation-for="Profile.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.SortOrder" class="control-label"></label>
                <input asp-for="Profile.SortOrder" class="form-control" />
                <span asp-validation-for="Profile.SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Notes" class="control-label"></label>
                <textarea asp-for="Profile.Notes" class="form-control"></textarea>
                <span asp-validation-for="Profile.Notes" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
